<launch>

	<node name="mocap_publisher_node" pkg="circular_mpc" type="mocap_publisher.py" />

	<node name="dist_finder_mocap_node" pkg="circular_mpc" type="dist_finder_mocap.py" />

	<node name="predictive_controller_node" pkg="circular_mpc" type="predictive_controller.py" output="screen"/>

	<node name="serial_transmitter_node" pkg="circular_mpc" type="serial_transmitter.py" />

</launch>
